<h1> Planet list </h1>

<ul class="nav" id="loadCategories">
   <li class="sub-menu">
      <a href="#">Action by request</a>
      <ul class="">
          <li><a href="/get_request?type=orphan">Get number of Orphan planets (no star)</a></li>
          <li><a href="/get_request?type=close_to_sun">Get name of the planet orbiting the hottest star</a></li>
          <li><a href="/get_request?type=by_year">Timeline by year</a></li>
     </ul>
   </li>
</ul>
